* {
  box-sizing: border-box;
}

body {
  background-color: white;
  margin: 0;
  padding: 0;
}


/* experiment --------------------------------------------------------------- */

.exp {
  width: 700px;
  height: 432px;
  position: absolute;
  left: 50%;
  top: 50%;
  margin-top: -216px;
  margin-left: -350px;
  background-color: white;
  z-index: 1;
  transition: -webkit-filter 1s ease-in-out;
}

.exp--hidden {
  -webkit-filter: blur(7px);
}

.exp__item {
  height: 144px;
  position: relative;
}

.exp__title {
  font-family:
    "HelveticaNeue-Light",
    "Helvetica Neue Light",
    "Helvetica Neue",
    Helvetica,
    Arial,
    "Lucida Grande",
    sans-serif;
  font-size: 18px;
  font-weight: normal;
  position: absolute;
  bottom: 85px;
  left: 50px;
  display: block;
  text-transform: uppercase;
}

.exp__title--vanilla {
  color: #859900;
}

.exp__title--debounce {
  color: #6C71C4;
}

.exp__title--throttle {
  color: #CB4B16;
}

.exp__rail {
  position: absolute;
  bottom: 0;
  width: 100%;
  background-color: #EEE8D5;
  height: 100px;
}

.exp__tic {
  float: left;
  margin-right: 2px;
  width: 18px;
  height: 100px;
}

.exp__tic-fired {
  float: left;
  margin-right: 2px;
  width: 18px;
  height: 100px;
}

.exp__tic:last-child {
  margin-right: 0;
}

.exp__tic-fired:last-child {
  margin-right: 0;
}

.exp__tic--vanilla {
  border-bottom: 25px solid #859900;
}

.exp__tic-fired--vanilla {
  background-color: #859900;
}

.exp__tic--debounce {
  border-bottom: 25px solid #6C71C4;
}

.exp__tic-fired--debounce {
  background-color: #6C71C4;
}

.exp__tic--throttle {
  border-bottom: 25px solid #CB4B16;
}

.exp__tic-fired--throttle {
  background-color: #CB4B16;
}


/* modal -------------------------------------------------------------------- */

.modal {
  position: absolute;
  height: 100%;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.6);
  z-index: 2;
  transition: opacity 1s ease-in-out;
}

.modal--hidden {
  opacity: 0;
  /*z-index: 0;*/
}

.modal__title {
  font-size: 48px;
  color: #DDD;
  font-family:
    "HelveticaNeue-Light",
    "Helvetica Neue Light",
    "Helvetica Neue",
    Helvetica,
    Arial,
    "Lucida Grande",
    sans-serif;
  display: inline-block;
  font-weight: normal;
  position: absolute;
  top: 50%;
  left: 50%;
  margin-top: -150px;
  margin-left: -270.5px;
  text-transform: uppercase;
}

.modal__mouse {
  position: absolute;
  left: 50%;
  top: 50%;
  margin-left: -50px;
  margin-top: -15px;
  -webkit-animation-name: mouse-call-to-action;
  -webkit-animation-duration: 3s;
  -webkit-animation-iteration-count: infinite;
  -webkit-animation-direction: alternate;
  -webkit-animation-timing-function: ease-in-out;
  -webkit-animation-direction: alternate;
}

@-webkit-keyframes mouse-call-to-action {
  0% {
    -webkit-transform: rotate(0) translate(0, 0);
  }
  100% {
    -webkit-transform: rotate(-15deg) translate(-50px, 0);
  }
}
